@use "./core/reset";

body {
  background: rgb(232, 196, 210);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
  display: block;
  padding: 0.3rem;
  border-radius: 5px;
  border-color: rgb(244, 1, 135);
  cursor: pointer;
  background-color: rgb(232, 196, 210);
  margin-top: 5px;
  color: rgb(244, 1, 135);
}

.herobox {
  padding-inline: 2rem;
  text-align: center;
}
.hero {
  margin-top: 10%;
  margin-bottom: 6%;
}

h1 {
  background: linear-gradient(80deg, rgb(119, 114, 116), rgb(244, 1, 135));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 40px;
  padding-bottom: 0.7rem;
}
h2 {
  background: linear-gradient(80deg, rgb(119, 114, 116), rgb(244, 1, 135));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 21px;
  padding-block: 1rem;
}
.desc {
  font-size: 16px;
  color: rgb(99, 93, 93);
  padding-block: 1rem;
  border-bottom: solid 2px rgb(238, 189, 208, 0.5);
  text-align: center;
}
.strongword {
  color: rgb(224, 66, 153);
}
.icons {
  display: flex;
  font-size: 45px;
  color: rgba(244, 1, 135, 0.74);
  justify-content: center;
  gap: 3rem;
  margin-top: 1rem;
}
a {
  color: rgba(244, 1, 135, 0.74);
}
a:visited {
  color: rgba(244, 1, 135, 0.74);
}
.box {
  padding-inline: 2rem;
  text-align: center;
}
.article_title {
  background: linear-gradient(80deg, rgb(119, 114, 116), rgb(244, 1, 135));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 18px;
  padding-block: 0.2rem;
}
.aboutme {
  font-size: 16px;
  color: rgb(99, 93, 93);
  padding-block: 1rem;
  border-bottom: solid 2px rgb(238, 189, 208, 0.5);
  text-align: center;
}
.projectbox {
  padding-block: 1.5rem;
  text-align: center;
}
.boximage {
  max-width: 320px;
  border-radius: 5px;
  border-bottom: solid 2px rgb(99, 93, 93);
}
.descImage {
  font-size: 15px;
  color: rgb(99, 93, 93);
}
.tools {
  color: rgb(99, 93, 93);
  font-size: 18px;
  padding-block: 0.5rem;
}

@media (width>1024px) {
  .herobox {
    padding-inline: 13rem;
    text-align: center;
  }
  .hero {
    margin-top: 10%;
    margin-bottom: 5%;
  }

  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 30px;
    padding-block: 1rem;
  }
  .desc {
    font-size: 20px;
    padding-block: 1rem;
    border-bottom: solid 2px rgb(238, 189, 208, 0.5);
  }
  .icons {
    color: rgba(244, 1, 135, 0.74);
    display: flex;
    font-size: 50px;
    text-decoration: none;
    gap: 3rem;
    margin-top: 1.5rem;
  }
  a {
    color: rgba(244, 1, 135, 0.74);
  }
  a:visited {
    color: rgba(244, 1, 135, 0.74);
  }

  .box {
    padding-inline: 13rem;
  }
  .article_title {
    font-size: 22px;
    padding-block: 0.2rem;
  }
  .aboutme {
    font-size: 20px;
    padding-block: 1rem;
    border-bottom: solid 2px rgb(238, 189, 208, 0.5);
  }
  .gridbox {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .boximage {
    width: 315px;
    max-height: 172px;
    border-radius: 5px;
  }
}
